{% extends "partial/body.html" %}
{% load static %}
{% load month_tags %}
{% load i18n %}
{% block contenido %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
   
{% if user.is_authenticated %}
<section class="content">
  <div class="container-fluid">
    <div class="card-body">
      <h4 class="">Información General</h4>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-info">
          <div class="inner">
            <h3>{{registro_total_protocolo_metodos}}</h3>

            <p>Protocolos de Métodos</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'protocolo_metodos' %}" class="small-box-footer">Mas información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-success text-white">
          <div class="inner">
            <h3>{{registro_total_protocolo_proceso}}</h3>
            <p>Protocolos de Proceso</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'protocolo_proceso' %}" class="small-box-footer">Mas información  <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-warning text-white" >
          <div class="inner">
            <h3>0<sup style="font-size: 20px"></sup></h3>

            <p>Desarrollos</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">Mas información  <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-danger text-white">
          <div class="inner">
            <h3>0  
            </h3>

            <p>Estabilidades</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">Mas información  <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!--Filas Graficos Protocolos de Metodos: Finalizados y Estados START-->
    <div class="row">
      <section class="col-lg-6 connectedSortable">
        <div class="card">
          <div class="card-header">
                <h3 class="card-title">
                    <div class="dropdown">
                      <a class=" dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-chart-pie mr-1"></i>
                        <span id="header2025">Protocolos de Métodos Finalizados año 2025</span>
                        <span id="header2026" style="display: none;">Protocolos de Métodos Finalizados año 2026</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button" onclick="habilitarAño2025()">Año 2025</button></li>
                        <li><button class="dropdown-item" type="button" onclick="habilitarAño2026()">Año 2026</button></li>
                      </ul>
                    </div> 
                  </span>
              </h3>
          </div>

          <!-- grafico protocolo de metodos 2025 -->
          <div class="card-body" id="container2025">
          </div>
          <!-- grafico protocolo de metodos 2025 -->

          <!-- grafico protocolo de metodos 2026 -->
            <div class="card-body" id="container2026" style="display: none;" >
            </div>
          <!-- grafico protocolo de metodos 2026 -->

        </div>
        <!--script años 2025 y 2026 protocolo metodo-->
        <script>
          function habilitarAño2025() {
            var año2026 = document.getElementById('container2026');
            var header2026 = document.getElementById('header2026');
            var año2025 = document.getElementById('container2025');
            var header2025 = document.getElementById('header2025');
            if (año2026.style.display == "" && header2026.style.display == "") {
              año2026.style.display = "none"
              header2026.style.display = "none"
              año2025.style.display = ""
              header2025.style.display = ""            }
          }
          function habilitarAño2026() {
            var año2026 = document.getElementById('container2026');
            var header2026 = document.getElementById('header2026');
            var año2025 = document.getElementById('container2025');
            var header2025 = document.getElementById('header2025');
            if (año2026.style.display == "none" && header2026.style.display == "none") {
              año2026.style.display = ""
              header2026.style.display = ""
            }
            if (año2025.style.display == "" && header2025.style.display == "") {
              año2025.style.display = "none"
              header2025.style.display = "none"
            }
          }
        </script>
        <!--script años 2025 y 2026 protocolo metodo-->

      </section>
      <section class="col-lg-6 connectedSortable">
        <div class="card bg-gradient-white">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Estado de Protocolos de Métodos
            </h3>
          </div>
          <div class="card-body" id="containers">
          </div>
        </div>
      </section>

    </div>
    <!--Filas Graficos Protocolos de Metodos: FInalizados y Estados END -->

    <!--Filas Graficos Protocolos de Proceso: Finalizados y Estados START-->
    <div class="row">
      <section class="col-lg-6 connectedSortable">
        <div class="card">
          <div class="card-header">
                <h3 class="card-title">
                    <div class="dropdown">
                      <a class=" dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-chart-pie mr-1"></i>
                        <span id="headerPr2025">Protocolos de Procesos  Finalizados año 2025</span>
                        <span id="headerPr2026" style="display: none;">Protocolos de Métodos Finalizados año 2026</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button" onclick="habilitarAñoPr2025()">Año 2025</button></li>
                        <li><button class="dropdown-item" type="button" onclick="habilitarAñoPr2026()">Año 2026</button></li>
                      </ul>
                    </div> 
                  </span>
              </h3>
          </div>
          <!-- grafico protocolo de metodos 2025 -->
          <div class="card-body" id="containerPr2025">
          </div>
          <!-- grafico protocolo de metodos 2025 -->

          <!-- grafico protocolo de metodos 2026 -->
            <div class="card-body" id="containerPr2026" style="display: none;" >
            </div>
          <!-- grafico protocolo de metodos 2026 -->
        </div>

        <!--script años 2025 y 2026 protocolo proceso-->
        <script>
          function habilitarAñoPr2025() {
            var año2026 = document.getElementById('containerPr2026');
            var header2026 = document.getElementById('headerPr2026');
            var año2025 = document.getElementById('containerPr2025');
            var header2025 = document.getElementById('headerPr2025');
            if (año2026.style.display == "" && header2026.style.display == "") {
              año2026.style.display = "none"
              header2026.style.display = "none"
              año2025.style.display = ""
              header2025.style.display = ""            }
          }
          function habilitarAñoPr2026() {
            var año2026 = document.getElementById('containerPr2026');
            var header2026 = document.getElementById('headerPr2026');
            var año2025 = document.getElementById('containerPr2025');
            var header2025 = document.getElementById('headerPr2025');
            if (año2026.style.display == "none" && header2026.style.display == "none") {
              año2026.style.display = ""
              header2026.style.display = ""
            }
            if (año2025.style.display == "" && header2025.style.display == "") {
              año2025.style.display = "none"
              header2025.style.display = "none"
            }
          }
        </script>
        <!--script años 2025 y 2026 protocolo proceso-->


      </section>
      <section class="col-lg-6 connectedSortable">
        <div class="card bg-gradient-white">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Estado de Protocolos de Proceso
            </h3>

          </div>
          <div class="card-body" id="containersPr">
          </div>
        </div>
      </section>
    </div>
    <!--Filas Graficos Protocolos de Proceso: Finalizados y Estados END-->
  </div>
</section>

{% block javascripts %}
<script type="">
    Highcharts.chart('containers', {{ chart2|safe }}
    );
  </script>
  <script type="">
    Highcharts.chart('containersPr', {{ chart3|safe }});
  </script>

<!--protocolo metodo 2025-->
<script type="">
Highcharts.chart('container2025', {
  credits: {
    enabled: false
},
      chart: {
          type: 'column'
      },
      title: {
          text: ''
      },
      plotOptions: {
		column: {
			pointPadding: 0.2,
			borderWidth: 6
   
		}
	},
      xAxis: {
          categories: [

          
            {% for entry in dataset %} "{{ entry.fecha_final__month | month_name }}" {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Finalizado',
          data: [
            {% for entry in dataset %}{{ entry.Finalizado }}{% if not forloop.last %}, {% endif %}{% endfor %}
            
          ],
          //colorByPoint: 'true',
          //showInLegen:"false",
         
          
          //backgroundColor: 'red'
          color: "#1088b1",
          borderColor: "#d7e2e8   ",
      }, 
    ]
      
  });
</script>
<!--protocolo metodo 2025-->

<!--protocolo metodo 2026-->
<script type="">
  Highcharts.chart('container2026', {
    credits: {
      enabled: false
  },
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 6
     
      }
    },
        xAxis: {
            categories: [
  
            
              {% for entry in dataset1 %} "{{ entry.fecha_final__month | month_name }}" {% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        series: [{
            name: 'Finalizado',
            data: [
              {% for entry in dataset1 %}{{ entry.Finalizado }}{% if not forloop.last %}, {% endif %}{% endfor %}
              
            ],
            //colorByPoint: 'true',
            //showInLegen:"false",
           
            
            //backgroundColor: 'red'
            color: "#1088b1",
            borderColor: "#d7e2e8   ",
        }, 
      ]
        
    });
  </script>
  <!--protocolo metodo 2026-->  

<!--protocolo proceso 2025-->
<script type="">
  Highcharts.chart('containerPr2025', {
    credits: {
    enabled: false
},
    
        chart: {
            type: 'column'
        },
        plotOptions: {
		column: {
			pointPadding: 0.2,
			borderWidth: 6
		}
	},
        title: {
            text: ''
        },
        xAxis: {
            categories: [
  
            
              {% for entry in datasetPr %} "{{ entry.fecha_final__month | month_name }}" {% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        series: [{
            name: 'Finalizado',
            data: [
              {% for entry in datasetPr %}{{ entry.Finalizado }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
             //colorByPoint: 'true',
          showInLegen:"false",
          color: "#1088b1",
          borderColor: "#d7e2e8   ",
        }, 
      ]
        
    });
  </script>
<!--protocolo proceso 2025-->

<!--protocolo proceso 2026-->
<script type="">
  Highcharts.chart('containerPr2026', {
    credits: {
    enabled: false
},
    
        chart: {
            type: 'column'
        },
        plotOptions: {
		column: {
			pointPadding: 0.2,
			borderWidth: 6
		}
	},
        title: {
            text: ''
        },
        xAxis: {
            categories: [
  
            
              {% for entry in datasetPr1 %} "{{ entry.fecha_final__month | month_name }}" {% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        series: [{
            name: 'Finalizado',
            data: [
              {% for entry in datasetPr1 %}{{ entry.Finalizado }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
             //colorByPoint: 'true',
          showInLegen:"false",
          color: "#1088b1",
          borderColor: "#d7e2e8   ",
        }, 
      ]
        
    });
  </script>
<!--protocolo proceso 2026-->

  {% endblock %}
  {% else %}
<!-- Inicia sesión -->
<div class="container1">
  <h1 class="display-6"><strong>Su sesión ha terminado!</strong></h1>
  <div class="astronaut">
    <div class="astronaut__backpack"></div>
    <div class="astronaut__body"></div>
    <div class="astronaut__body__chest"></div>
    <div class="astronaut__arm-left1"></div>
    <div class="astronaut__arm-left2"></div>
    <div class="astronaut__arm-right1"></div>
    <div class="astronaut__arm-right2"></div>
    <div class="astronaut__arm-thumb-left"></div>
    <div class="astronaut__arm-thumb-right"></div>
    <div class="astronaut__leg-left"></div>
    <div class="astronaut__leg-right"></div>
    <div class="astronaut__foot-left"></div>
    <div class="astronaut__foot-right"></div>
    <div class="astronaut__wrist-left"></div>
    <div class="astronaut__wrist-right"></div>
    
    <div class="astronaut__cord">
      <canvas id="cord" height="500px" width="500px"></canvas>
    </div>
    
    <div class="astronaut__head">
      <canvas id="visor" width="60px" height="60px"></canvas>
      <div class="astronaut__head-visor-flare1"></div>
      <div class="astronaut__head-visor-flare2"></div>
    </div>
  </div>
 
  
 </div>
 <!-- Inicia sesion-->
  {% endif %}
  

{% endblock contenido %}